{
  "openapi": "3.1.0",
  "info": {
    "title": "Mailchimp Transactional API",
    "description": "Send transactional email at scale. Formerly known as Mandrill.",
    "version": "1.3.0"
  },
  "servers": [
    {
      "url": "https://mandrillapp.com/api/1.0"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/messages/send": {
      "post": {
        "summary": "Send a new message",
        "description": "Send a new transactional message through the Transactional API.",
        "operationId": "sendMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["key", "message"],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "A valid API key.",
                    "example": "md-xxxxxxxxxxxxxxxxxxxxxx"
                  },
                  "message": {
                    "$ref": "#/components/schemas/Message"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Enable a background sending mode optimized for bulk sending.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An array of the sending results for each recipient.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SendResult"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messages/send-template": {
      "post": {
        "summary": "Send using a template",
        "description": "Send a new transactional message through the Transactional API using a template.",
        "operationId": "sendTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["key", "template_name", "message"],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "A valid API key.",
                    "example": "md-xxxxxxxxxxxxxxxxxxxxxx"
                  },
                  "template_name": {
                    "type": "string",
                    "description": "The immutable name or slug of a template that exists in the user's account.",
                    "example": "order-confirmation"
                  },
                  "template_content": {
                    "type": "array",
                    "description": "An array of template content to send.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string", "example": "main" },
                        "content": { "type": "string", "example": "<h1>Thanks for your order</h1>" }
                      }
                    }
                  },
                  "message": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An array of the sending results for each recipient.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SendResult"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messages/info": {
      "post": {
        "summary": "Get message info",
        "description": "Get the information for a single recently sent message.",
        "operationId": "messageInfo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["key", "id"],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "A valid API key.",
                    "example": "md-xxxxxxxxxxxxxxxxxxxxxx"
                  },
                  "id": {
                    "type": "string",
                    "description": "The unique id of the message to get information for.",
                    "example": "abc123abc123abc123abc123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The information for the message.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": { "type": "string", "example": "abc123abc123abc123abc123" },
                    "subject": { "type": "string", "example": "Your order has shipped" },
                    "email": { "type": "string", "example": "recipient@example.com" },
                    "state": { "type": "string", "example": "sent" },
                    "opens": { "type": "integer", "example": 2 },
                    "clicks": { "type": "integer", "example": 1 }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/list": {
      "post": {
        "summary": "List webhooks",
        "description": "Get the list of all webhooks defined on the account.",
        "operationId": "listWebhooks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["key"],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "A valid API key.",
                    "example": "md-xxxxxxxxxxxxxxxxxxxxxx"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The webhooks associated with the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Webhook" }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/add": {
      "post": {
        "summary": "Add a webhook",
        "description": "Add a new webhook to the account.",
        "operationId": "addWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["key", "url"],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "A valid API key.",
                    "example": "md-xxxxxxxxxxxxxxxxxxxxxx"
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL to POST batches of events to.",
                    "example": "https://example.com/webhooks/mailchimp"
                  },
                  "events": {
                    "type": "array",
                    "description": "An optional list of events to listen for.",
                    "items": { "type": "string" },
                    "example": ["send", "open", "click", "hard_bounce"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added webhook's details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Webhook" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "Message": {
        "type": "object",
        "required": ["from_email", "to"],
        "properties": {
          "html": {
            "type": "string",
            "description": "The full HTML content to be sent.",
            "example": "<p>Hi Jordan, your order #1043 has shipped.</p>"
          },
          "subject": {
            "type": "string",
            "description": "The message subject.",
            "example": "Your order has shipped"
          },
          "from_email": {
            "type": "string",
            "description": "The sender email address.",
            "example": "orders@example.com"
          },
          "from_name": {
            "type": "string",
            "description": "Optional from name to be used.",
            "example": "Example Store"
          },
          "to": {
            "type": "array",
            "description": "An array of recipient information.",
            "items": {
              "type": "object",
              "properties": {
                "email": { "type": "string", "example": "jordan@example.com" },
                "name": { "type": "string", "example": "Jordan Lee" },
                "type": { "type": "string", "enum": ["to", "cc", "bcc"], "example": "to" }
              }
            }
          },
          "track_opens": {
            "type": "boolean",
            "description": "Whether to turn on open tracking for the message.",
            "example": true
          },
          "track_clicks": {
            "type": "boolean",
            "description": "Whether to turn on click tracking for the message.",
            "example": true
          }
        }
      },
      "SendResult": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "example": "jordan@example.com" },
          "status": {
            "type": "string",
            "enum": ["sent", "queued", "scheduled", "rejected", "invalid"],
            "example": "sent"
          },
          "_id": { "type": "string", "example": "abc123abc123abc123abc123" },
          "reject_reason": { "type": "string", "nullable": true, "example": null }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 42 },
          "url": { "type": "string", "example": "https://example.com/webhooks/mailchimp" },
          "events": {
            "type": "array",
            "items": { "type": "string" },
            "example": ["send", "open", "click"]
          },
          "created_at": { "type": "string", "example": "2026-01-15 12:00:00" }
        }
      }
    }
  }
}
